
.space-4 {
  height: 4px;
}

.space-8 {
  height: 8px;
}

.space-16 {
  height: 16px;
}

.width-100 {
  width: 100%!important;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.padding-left {
  padding-left: 6px;
}

.padding-right {
  padding-right: 6px;
}

.icon-group {
  padding: 10px 15px;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: 0px;
  border-radius: 0 0 4px 4px;
  padding: 20px;
}

.text-grey {
  color: #ccc;
}

.text-hover-primary:hover {
  color: #428bca;
}

.text-hover-success:hover {
  color: #3c763d;
}

.text-hover-danger:hover {
  color: #a94442;
}

.mini-icon-link:hover {
  text-decoration: none;
}

.mini-icon-link .fa {
  padding-left: 3px;
}

.mini-icon-link:hover .fa {
  font-size:16px;
  padding-left: 1px;
}

.list-group-item-div {
  padding: 0px;
}

.list-group-item-div .main-link {
  display: block;
  padding: 10px 15px;
}

.list-group-item-div.list-group-item-div-sm .main-link {
  padding: 5px 10px;
}

.list-group-item-div a.main-link {
  text-decoration: none;
}

.list-entry:hover {
  background-color: #f5f5f5;
}

.list-entry .in-hidden {
  display: none;
}

.list-entry:hover .in-hidden {
  display: inline-block;
}

.toc-entry {
  padding-left:6px;
  padding-right:6px;
  padding-top:1px;
  padding-bottom:1px;
}

.toc-title { padding-right: 8px; }

.toc-level-1  { padding-left: 0px;   }
.toc-level-2  { padding-left: 20px;  }
.toc-level-3  { padding-left: 40px;  }
.toc-level-4  { padding-left: 60px;  }
.toc-level-5  { padding-left: 80px;  }
.toc-level-6  { padding-left: 100px; }
.toc-level-7  { padding-left: 120px; }
.toc-level-8  { padding-left: 140px; }
.toc-level-9  { padding-left: 160px; }
.toc-level-10 { padding-left: 180px; }
.toc-level-11 { padding-left: 200px; }
.toc-level-12 { padding-left: 220px; }
.toc-level-13 { padding-left: 240px; }
.toc-level-14 { padding-left: 260px; }
.toc-level-15 { padding-left: 280px; }
.toc-level-16 { padding-left: 300px; }
.toc-level-17 { padding-left: 320px; }
.toc-level-18 { padding-left: 340px; }
.toc-level-19 { padding-left: 360px; }
.toc-level-20 { padding-left: 380px; }