<div class="page-header">

  <div class="btn-group pull-right">
    <a class="btn btn-primary" href="#/"
       ng-click="create()"
       ng-disabled="book.title === '' || book.title === undefined">
      <i class="fa fa-save padding-right"></i>
      <b>crear</b>
    </a>
    <a class="btn btn-default" href="#/"><i class="fa fa-reply padding-right"></i><b>catálogo</b></a>
  </div>

  <div class="h2" class="no-margin-bottom">
    <i class="fa fa-plus text-primary"></i>
    {{ book.title }}
    <span class="text-grey h5"><i class="fa fa-angle-double-right"></i> crear publicación</span>
  </div>

</div>

<ul class="nav nav-tabs" role="tablist">
  <li>
    <a href="" role="tab" data-toggle="tab" data-target="#general_info">
      Información general
      <i class="fa fa-warning text-danger padding-left"
         ng-if="book.title === '' || book.title === undefined">
      </i>
    </a>
  </li>
  <li class="active">
    <a href="" role="tab" data-toggle="tab" data-target="#toc">
      Índice de contenidos
      <i class="fa fa-warning text-danger padding-left"
         ng-if="!(book.toc.length > 1)">
      </i>
    </a>
  </li>
</ul>

<div class="tab-content">

  <div class="tab-pane" id="general_info">
    <form role="form">
      <div class="form-group">
        <label for="inputName">Título</label>
        <input type="text" ng-model="book.title" class="form-control" id="inputName"
               placeholder="Ingrese el título de la publicación">
      </div>
    </form>
  </div>

  <div class="tab-pane active" id="toc">

    <div class="row">
      <div class="col-sm-12">
        <div class="list-group" ui-sortable="sortableOptions" ng-model="book.toc">

          <div class="list-group-item list-group-item-div list-group-item-div-sm"
               ng-repeat="toc_entry in book.toc track by $index">
            <div class="toc-entry list-entry main-link">
              <div>
                <span class="drag-handle padding-right">
                  <a href="" class="mini-icon-link text-grey text-hover-primary">
                    <i class="fa fa-arrows"></i>
                  </a>
                </span>

                <span class="text-grey toc-level-{{toc_entry.level}}">
                  {{ toc_entry.index | formatIndexArray }}.
                </span>
                <span class="toc-content">{{ toc_entry.content }}</span>
                <a href="" class="mini-icon-link in-hidden"
                   ng-click="toc_entry.edit = true;" ng-if="!toc_entry.new_entry">
                  <i class="fa fa-pencil text-grey text-hover-success"></i>
                </a>
                <a href="" class="mini-icon-link in-hidden"
                   ng-if="!toc_entry.new_entry"
                   click-confirm="remove_entry(toc_entry)"
                   confirm-text="Confirme que desea eliminar el item:
                                 <br><b>{{toc_entry.index | formatIndexArray}} {{toc_entry.content}}</b>">
                  <i class="fa fa-trash-o text-grey text-hover-danger"></i>
                </a>

                <div ng-if="toc_entry.new_entry || toc_entry.edit === true">
                  <form role="form" class="main-link" ng-submit="(toc_entry.new_entry) ? add_entry() : ''"
                        focus="new_entry_input">
                    <div class="row">

                      <div class="col-sm-9 col-md-10">
                        <div class="row">
                          <div class="col-xs-12 col-sm-3 col-md-2 no-padding">
                            <div class="btn-group col-xs-12">
                              <button type="button" class="btn btn-warning col-xs-6"
                                      ng-click="dedent(toc_entry)">
                                <i class="fa fa-arrow-left fa-lg"></i>
                              </button>
                              <button type="button" class="btn btn-warning col-xs-6"
                                      ng-click="indent({ item: toc_entry, index: $index })">
                                <i class="fa fa-arrow-right fa-lg"></i>
                              </button>
                            </div>
                          </div>

                          <div class="clearfix visible-xs-block"></div>
                          <div class="visible-xs space-4"></div>

                          <div class="col-xs-12 col-sm-9 col-md-10">
                            <input type="text"
                                   id="new_entry_input"
                                   class="form-control"
                                   placeholder="Agregar contenido"
                                   ng-model="toc_entry.content"
                                   tab-change-value="toc_entry.level"
                                   tab-function="indent" tab-function-arguments="{ item: toc_entry, index: $index }"
                                   shift-tab-function="dedent" shift-tab-function-arguments="toc_entry"
                                   required>
                          </div>
                        </div>
                      </div>

                      <div class="clearfix visible-xs-block"></div>
                      <div class="visible-xs space-4"></div>

                      <div class="col-sm-3 col-md-2">
                        <button type="submit" class="btn btn-success btn-block" href="">
                          <span class="glyphicon glyphicon-ok padding-right"></span>
                          <b>agregar</b>
                        </button>
                      </div>
                      
                    </div>
                  </form>
                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<div class="space-8"></div>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary btn-lg btn-block" href=""
       ng-click="create()"
       ng-disabled="book.title === '' || book.title === undefined">
      <i class="fa fa-save padding-right"></i>
      <b>crear</b>
    </a>
  </div>
</div>

<div class="space-16"></div>