<div class="page-header">

  <div class="btn-group pull-right">
    <a class="btn btn-primary" href="#/"
       ng-click="create()"
       ng-disabled="book.title === '' || book.title === undefined">
      <i class="fa fa-save padding-right"></i>
      <b>crear</b>
    </a>
    <a class="btn btn-default" href="#/"><i class="fa fa-reply padding-right"></i><b>catálogo</b></a>
  </div>

  <div class="h2" class="no-margin-bottom">
    <i class="fa fa-plus text-primary"></i>
    {{ book.title }}
    <span class="text-grey h5"><i class="fa fa-angle-double-right"></i> crear publicación</span>
  </div>

</div>

<div ng-include="'scripts/books/views/book_form_tabs.html'"></div>

<div class="space-8"></div>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-primary btn-lg btn-block" href=""
       ng-click="create()"
       ng-disabled="book.title === '' || book.title === undefined">
      <i class="fa fa-save padding-right"></i>
      <b>crear</b>
    </a>
  </div>
</div>

<div class="space-16"></div>