<div class="page-header">

  <div class="btn-group pull-right">
    <a class="btn btn-primary" href="#/"
       ng-disabled="book.title === '' || book.title === undefined">
      <i class="fa fa-save padding-right"></i>
      <b>guardar</b>
    </a>
    <a class="btn btn-default" href="#/">
      <i class="fa fa-reply padding-right"></i>
      <b>catálogo</b>
    </a>
  </div>

  <div class="h2" class="no-margin-bottom">
    <i class="fa fa-plus text-primary"></i>
    {{ book.title }}
    <span class="text-grey h5"><i class="fa fa-angle-double-right"></i> crear publicación</span>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li>
    <a href="" role="tab" data-toggle="tab" data-target="#general_info">
      Información general
      <i class="fa fa-warning text-danger padding-left"
         ng-if="book.title === '' || book.title === undefined">
      </i>
    </a>
  </li>
  <li class="active">
    <a href="" role="tab" data-toggle="tab" data-target="#toc">
      Índice de contenidos
      <i class="fa fa-warning text-danger padding-left"
         ng-if="!book.toc.length">
      </i>
    </a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane" id="general_info">
    <form role="form">
      <div class="form-group">
        <label for="inputName">Título</label>
        <input type="text" ng-model="book.title" class="form-control" id="inputName"
               placeholder="Ingrese el título de la publicación">
      </div>
    </form>
  </div>

  <div class="tab-pane active" id="toc">

    <div class="row">
      <div class="col-sm-12">
        <ul class="list-group">
          <li class="list-group-item">
            <div class="toc-entry list-entry" ng-repeat="toc_entry in book.toc | orderBy: 'order'">
              <div class="toc-level-{{toc_entry.level}}">
                <span class="text-grey">{{ toc_entry.index | formatIndexArray }}.</span>
                <span class="toc-title">{{ toc_entry.title }}</span>
                <a href="" class="mini-icon-link in-hidden">
                  <i class="fa fa-pencil text-grey text-hover-success"></i>
                </a>
                <a href="" class="mini-icon-link in-hidden">
                  <i class="fa fa-trash-o text-grey text-hover-danger"></i>
                </a>
              </div>
            </div>
            <div ng-if="!book.toc.length">
              <span class="text-grey">No hay contenidos asignados</span>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <form role="form" ng-submit="add_toc_entry()">
      <div class="row">

        <div class="col-sm-10">
          <div class="row">
            <div class="col-xs-3 text-right">
              <div class="btn-group pull-left">
                <button type="button" class="btn btn-sm btn-warning" ng-click="dedent()">
                  <i class="fa fa-arrow-left fa-lg"></i>
                </button>
                <button type="button" class="btn btn-sm btn-warning" ng-click="indent()">
                  <i class="fa fa-arrow-right fa-lg"></i>
                </button>
              </div>
              <p class="form-control-static"><b>{{ new_toc_entry.index | formatIndexArray }}.</b></p>
            </div>
            <div class="col-xs-9">
              <input type="text" class="form-control" placeholder="Título"
                     ng-model="new_toc_entry.title"
                     tab-change-value="new_toc_entry.level"
                     tab-function="indent" shift-tab-function="dedent" required>
            </div>
          </div>
        </div>

        <div class="clearfix visible-xs-block"></div>
        <div class="visible-xs space-4"></div>

        <div class="col-sm-2">
          <button type="submit" class="btn btn-success pull-right col-sm-12" href="">
            <span class="glyphicon glyphicon-ok padding-right"></span>
            <b>agregar</b>
          </button>
        </div>
        
      </div>
    </form>

  </div>

</div>