<div class="modal fade" id="help" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Ayuda</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          <li>El Título es requerido para poder guardar una publicación</li>
        </ul>
        <ul class="list-unstyled">
          <li>Ubique el cursor sobre el <kbd><i class="fa fa-arrows"></i></kbd> para arrastrar un ítem</li>
        </ul>
        <ul class="list-unstyled">
          <li>Ubique el cursor sobre el contenido para editar (<i class="fa fa-pencil text-success"></i>)
              o eliminar (<i class="fa fa-trash-o text-danger"></i>)</li>
        </ul>
        <ul class="list-unstyled">
          <li><i class="fa fa-lightbulb-o text-primary"></i><br>
              Usar el teclado es la manera más rápida de crear contenidos.<br>
              Utilice <kbd>Tab</kbd> para indentar hacia la derecha.<br>
              Utilice <kbd>Shift + Tab</kbd> para hacerlo hacia la izquierda.<br>
              Oprima <kbd>Enter</kbd> para agregar el contenido al índice.</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>