<div class="page-header">

  <a class="btn btn-primary pull-right" href="#/books/create">
    <i class="fa fa-plus padding-right"></i>
    <b>nueva publicación</b>
  </a>

  <div class="h2" class="no-margin-bottom">
    <i class="fa fa-institution text-primary"></i>
    Editorial
    <span class="text-grey h5"><i class="fa fa-angle-double-right"></i> catálogo general de publicaciones</span>
  </div>
</div>

<div class="space-8"></div>
<div ng-include="'scripts/books/views/success_alerts.html'"></div>

<form role="form">
  <div class="form-group">
    <label class="sr-only" for="search_text">Email address</label>
    <input type="text" class="form-control" ng-model="search_text" id="search_text" placeholder="Buscar">
  </div>
</form>

<div class="list-group">
  <div ng-repeat="book in books | filter: search_text | orderBy: 'title'" href=""
       class="list-group-item list-group-item-div list-entry">
    <div class="icon-group pull-right">
      <a href="" ng-href="#/books/show/{{book.id}}" class="text-grey text-hover-primary mini-icon-link">
        <i class="fa fa-search-plus"></i>
      </a>
      <a href="" ng-href="#/books/edit/{{book.id}}" class="text-grey text-hover-success mini-icon-link">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" ng-click="remove_book(book)" class="text-grey text-hover-danger mini-icon-link">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <a href="" class="main-link" ng-href="#/books/show/{{book.id}}">
      <i class="fa fa-book text-danger padding-right"></i>
      <b>{{book.title}}</b>
    </a>
  </div>

  <div class="list-group-item list-group-item-div list-entry"
       ng-if="!(books | filter: search_text).length">
    <a class="main-link">
      <span class="text-grey">No hay publicaciones que coincidan con los criterios de búsqueda</span>
    </a>
  </div>
</div>

<div class="space-16"></div>
