<div class="page-header">
  <a class="btn btn-success pull-right" href="#/books/create">
    <span class="glyphicon glyphicon-plus"></span>
    <b>añadir</b>
  </a>
  <h2 class="no-margin-bottom">Editorial</h2>
</div>

<div class="row">
  <div class="col-xs-12">
    <span class="text-muted">PUBLICACIONES</span>
  </div>
</div>

<div class="space-16"></div>

<div class="list-group">
  <a href="" class="list-group-item">
    <i class="fa fa-book text-danger padding-right"></i>
    Don quijote de la mancha
  </a>
  <a href="" class="list-group-item">
    <i class="fa fa-book text-danger padding-right"></i>
    Entre Marx y una mujer desnuda
  </a>
</div>

{{ books }}